@import url("_editor_button_styles.css");

:root {
    --header-bg-color: #293d3d;
    --customGray: rgba(85, 85, 85, 0.75);
    --background: #212121;
    --shadow: rgba(0, 0, 0, 0.23);
    --class-color: #4cc5a1;
    --string-color: #d69d85;
    --attribute-color-css: #9cdcfe;
    --tag-gray-color: #aeafad;
    --element-selector-color: #4f9cd6;
    --selector-color-css: #d7ba7d;
    --methodColor: #dcdcaa;
    --bg-vs-code-color: #1e1e1e;
    --symbols: #d4d4d4;
    --const-color: #4fc1ff;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity .5s linear;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

section article + article {
    border-top: 2px dashed var(--customGray);
}

header {
    display: flex;
    flex-direction: column;
}

header div p {
    margin: 4px;
}

article {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

article>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

article > p {
    color: var(--string-color);
}

article p {
    margin-right: 5px;
}

section {
    display: flex;
    flex-direction: column;
}

.card {
    font-size: 20px;
    font-family: consolas;
    text-align: center;
    color: rgb(206, 195, 195);
    background-color: var(--bg-vs-code-color);
}

.card.nightMode {
    font-size: 20px;
    font-family: consolas;
    text-align: center;
    color: rgb(206, 195, 195);
    background-color: var(--bg-vs-code-color);
}

.deck-tree {
    font-family: Verdana;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    color: #a6a6a6;
    margin-bottom: 10px;
}

.sub-deck-name {
    font-family: courier;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #c5be3f;
    margin-bottom: 20px;
}

.replay-button svg path {
    stroke: #2f2f31;
    fill: #4cc5a1;
}

.replay-button {
    width: 25px;
}

.replay-button svg circle {
    fill: rgb(206, 195, 195);
    stroke: #c5be3f;
}

hr {
    margin: 10px 0;
    border-style: inset;
    border-width: 0.5px;
}