@import url("_editor_button_styles.css");
@import url("_base.styles.css");

.notesChild {
  display: flex;
  justify-content: center;
}

.notesChild li {
  text-align: left;
}

.containerFlex {
  display: flex;
  flex-wrap: wrap;
}
.extra,
.parameters,
.parametersQtd,
.image {
  opacity: 0;
}
