@import url("_editor_button_styles.css");
@import url("_base.styles.css");

section {
  overflow: hidden;
}

.extra-container {
  margin: 20px;
}

.extra-content-container {
  font-size: 20px;
  border: 2px dashed rgba(85, 85, 85, 0.75);
  color: var(--class-color);
  padding: 10px;
  margin: 2px;
  text-align: center;
  transition: opacity 0.5s linear;
  transition: visibility 0s 1s, opacity 0.5s linear, transform 0.5s;
}

.notesChild {
  display: flex;
  justify-content: center;
}

.notesChild li {
  text-align: left;
}
