@import url("_editor_button_styles.css");
@import url("_base.styles.css");

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

header,
article,
section {
  display: flex;
}

header,
section {
  flex-direction: column;
}

header {
  padding: 5px;
}

.answer-container {
  flex-direction: column;
}

img {
  border-radius: 12px;
  width: 200px;
}

article {
  justify-content: center;
  margin: 5px 0px;
}

.new-word {
  color: var(--class-color);
  font-weight: bold;
}

.ipa {
  font-size: 20px;
  color: #c5be3f;
  font-family: courier;
}

.translation {
  color: var(--class-color);
  font-size: 17px;
}

.meaning {
  color: var(--function-color);
  font-size: 16px;
}

.classification {
  color: var(--function-color);
  font-size: 16px;
}

.translated-word {
  color: var(--string-color);
  font-weight: bold;
  text-decoration: underline;
}

hr {
  margin: 10px 0;
  border-style: inset;
  border-width: 0.5px;
}

.legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-family: courier;
  text-align: left;
  text-transform: uppercase;
  font-size: 13px;
  color: #c5be3f;
}
.my-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
}
.my-legend .legend-scale ul li {
  font-size: 13px;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
  text-align: left;
}
.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info-container > div {
  margin-right: 20px;
}
