:root {
    --classColor: #4cc5a1;
    --stringColor: #d69d85;
    --attributeColorCSS: #9cdcfe;
    --tagGrayColor: #aeafad;
    --elementSelectorColor: #4f9cd6;
    --selectorColorCSS: #d7ba7d;
    --methodColor: #dcdcaa;
    --bgVsCodeColor: #1e1e1e;
}

.type {
    width: 100%;
}

.card {
    font-size: 20px;
    font-family: consolas;
    background-color: var(--bgVsCodeColor);
    color: rgb(206, 195, 195);
    padding: 10px;
}

.card.nightMode {
    background-color: var(--bgVsCodeColor);
    color: rgb(206, 195, 195);
}

.buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p {
    margin: 5px 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    margin: 5px;
}

.deck-tree {
    font-family: Verdana;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    color: #a6a6a6;
    margin-bottom: 20px;
}

.sub-deck {
    font-family: courier;
    text-transform: uppercase;
    font-size: 20px;
    color: #c5be3f;
}

.expression {
    font-size: 22px;
}

#translation-article {
    font-size: 18px;
    color: var(--stringColor);
}

.notes {
    font-size: 18px;
}

.media {
    display: none;
}

img {
    height: 200px;
    border-radius: 12px;
}

article {
    text-align: center;
}

.info-queue {
    font-family: courier;
    font-size: 11px;
    color: #e0dab6;
}

.custom-button {
    display: block;
    font-family: Menlo;
    font-size: 16px;
    color: #bdc3c7;
    background-color: rgba(85, 85, 85, 0.15);
    border-radius: 10px;
    padding: 5px;
    width: 50%;
    text-align: center;
    font-weight: 500;
    margin: 20px;
    transition: background-color 0.15s ease-out;
    cursor: pointer;
}

.custom-button:hover {
    background-color: rgba(85, 85, 85, 0.35);
}

.new-word {
    color: #4cc5a1;
    font-weight: bold;
}

.typeGood {
    background: #179a4bdb;
}

.typeMissed {
    background: #918950;
}

.no-select {
    user-select: none;
}

/* MOBILE */
@media screen and (max-width: 600px) {
    .info-queue {
        display: none;
    }

    .type {
        display: none;
    }
}

.replay-button svg path {
    stroke: #2f2f31;
    fill: #4cc5a1;
}

.replay-button {
    width: 25px;
}

.replay-button svg circle {
    fill: rgb(206, 195, 195);
    stroke: #c5be3f;
}