@import url("_editor_button_styles.css");
@import url("_base.styles.css");

.card-container {
  display: flex;
  flex-direction: column;
}

.question-container {
  display: flex;
  font-family: courier;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.question-dots {
  border: 2px dashed rgba(85, 85, 85, 0.75);
  padding: 10px;
  color: #4cc5a1;
  margin: 2px 20px 2px 20px;
  text-align: center;
}

.answer-content {
  border: 2px dashed rgba(85, 85, 85, 0.75);
  padding: 10px;
  color: var(--class-color);
  margin: 2px 20px 2px 20px;
  text-align: center;
}

.answer-content b {
  font-weight: normal;
  color: var(--string-color);
}

.element-container {
  margin-bottom: 20px;
}

.extra-container {
  display: flex;
  margin-top: 20px;
  flex-flow: column wrap;
  align-items: center;
}

.extra-content-container {
  font-size: 20px;
  border: 2px dashed rgba(85, 85, 85, 0.75);
  color: var(--class-color);
  padding: 10px;
  margin: 2px 20px 2px 20px;
  text-align: center;

  transition: opacity 0.5s linear;
}

.element {
  font-family: consolas;
  margin: 0 0 20px 0;
}
