:root {
    --classColor: #4cc5a1;
    --stringColor: #d69d85;
    --attributeColorCSS: #9cdcfe;
    --tagGrayColor: #aeafad;
    --elementSelectorColor: #4f9cd6;
    --selectorColorCSS: #d7ba7d;
    --methodColor: #dcdcaa;
    --bgVsCodeColor: #1e1e1e;
}

article {
    text-align: center;
}

.card {
    font-size: 20px;
    font-family: consolas;
    background-color: var(--bgVsCodeColor);
    padding: 10px;
}

.card.nightMode {
    background-color: var(--bgVsCodeColor);
}

.deckTree {
    font-family: Verdana;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    color: #a6a6a6;
    margin-bottom: 20px;
}

.subdeckName {
    font-family: courier;
    text-transform: uppercase;    
    font-size: 20px;
    color: #c5be3f;
}

.articleTip {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.tip {
    display: none;
    font-family: consolas;
    font-size: 20px;
    color: white;
    padding: 20px;
    text-align: center;
}

.articleQuestion {
    display: flex;
    justify-content: center;
}

.questionField {
    font-family: consolas;
    font-size: 20px;
    padding: 0px 0px 20px 0px;
}

.questionField b {
    font-weight: normal;
    color: var(--classColor);
}

.answerField {
    border: 2px dashed rgba(85, 85, 85, 0.75);
    padding: 10px;
    color: var(--classColor);
    margin: 2px 20px 2px 20px;
    text-align: center;
}

.answerField b {
    font-weight: normal;
    color: var(--stringColor);
}

.answerContainer {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.notesChild {
    display: flex;
    justify-content: center;
    color: var(--classColor);
}

.notesChild li {
    text-align: left;
}

.extraContainer {
    display: flex;
    margin-top: 20px;
    flex-flow: column wrap;
    align-items: center;
}

.extra {
    display: none;
    font-size: 20px;
    border: 2px dashed rgba(85, 85, 85, 0.75);
    color: var(--classColor);
    padding: 10px;
    margin: 2px 20px 2px 20px;
    text-align: center;
}

.customButton {
    display: block;
    font-family: Menlo;
    font-size: 16px;
    color: #bdc3c7;
    background-color: rgba(85, 85, 85, 0.15);
    border-radius: 10px;
    padding: 5px;
    width: 50%;
    text-align: center;
    font-weight: 500;
    margin: 20px;
    transition: background-color 0.15s ease-out;
    cursor: pointer;
}

.customButton:hover {
    background-color: rgba(85, 85, 85, 0.35);
}

audio {
    display: none;
}

.containerFlex {
    display: flex;
    flex-wrap: wrap;
}

.classColor {
    color: var(--classColor);
}

.stringColor {
    color: var(--stringColor);
}

.attributeColorCSS {
    color: var(--attributeColorCSS);
}

.tagGrayColor {
    color: var(--tagGrayColor);
}

.elementSelectorColor {
    color: var(--elementSelectorColor);
}

.selectorColorCSS {
    color: var(--selectorColorCSS);
}

.methodColor {
    color: var(--methodColor);
}